extends layout

block content
  .row
    .col-sm-2
    .jumbotron.col-sm-8
      h1 #{title}
    .col-sm-2
  .row
    .col-sm-2
    .col-sm-4
      ul
        li One die roll. dX: where X is any positive number. Roll 1 die with X sides, eg: d6 (results between 1 and 6 included)
        li Dice roll. NdX: where N is any positive number, Roll N dice with X sides and sum, eg: 3d6 (results between 3 and 18 included)
        li Drop lowest rolls. NdXdD: where D is any positive number lower than N. Roll N dice with X sides and drop the lowerst D and sum, eg: 5d6d2 ( results between 3 and 18 included)
        li Keep highest rolls. NdXkK: where K is any positive number lower than N. Roll N dice with X sides and keep the highest K and sum, eg: 5d6k2 (results between 2 and 12 included)
        li Exploseve roll. NdXxE: where E is any positive number equal or smaller than X. Roll N dice with X sides. For each value that is equal or greater than E roll again until no values need to be re-rolled. Sum all the rolled dice. Eg: 4d6x6 (results between 4 and infinity)
        li Literal value. X: where X is any positive number, eg: 2 (result is always 2)
    .col-sm-3
      input#roll(type="text", placeholder="Input Dice Roll")
      h2#results You haven't rolled yet!
    .col-sm-3

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js") 
  script(src="/javascripts/main.js")
